.album {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    backdrop-filter: blur(3px);
    background: transparent;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    font-size: large;
    margin-bottom: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .album {
        flex-direction: column;
        width: 100%;
        * {
            width: 100%;
        }
    }
    
    input {
        width: 100%;
        position: relative;
        bottom: 0;
        right: 0;
    }
}